@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700");
/* definindo variaveis no css*/
:root {
  --vermelho: #e50914f6;
  --preta: #141414;
  --cinza: #808080;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: var(--preta);
  font-family: Helvetica;
  color: white;
}

/* Cabecalho superior do site */
header .container {
  margin-left: 30px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filme-destaque .container {
  margin-left: 30px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-netflix {
  width: 130px;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_left nav {
  margin-left: 15px;
}

.header_left nav a {
  font-family: Helvetica, sans-serif;
  color: #ffff;
  margin-right: 10px;
  font-weight: bold;
}

.header_left nav a:hover {
  color: var(--cinza);
}

.header_right nav a {
  color: #ffff;
  margin-left: 15px;
}

.header_right nav img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 10%;
}

/* filme em destaque */
.filme-destaque {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/odilema2.jpeg");
  background-size: cover;
  height: 450px;
  font-size: 20px;
}

.filme-destaque .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.filme-destaque .descricao {
  max-width: 40%;
}
/* .filme-destaque .titulo {
  margin-top: 10%;
  margin-bottom: 80px;
  font-size: 40px;
} */

.filme-destaque .titulo-logo {
  height: 150px;
  margin-bottom: 80px;
  margin-top: 3%;
}

.filme-destaque .botoes {
  margin-top: 30px;
}

.button-play {
  padding: 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 5px;
  transition: 0.5s ease all;
}

.button-info {
  padding: 15px;
  border: none;
  background-color: rgba(128, 128, 128, 90%);
  color: #ffff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s ease all;
}

.button-info:hover {
  background-color: rgba(128, 128, 128, 10%);
  color: #ffff;
}

.button-play:hover {
  background-color: rgba(128, 128, 128, 10%);
  color: #ffff;
}

/* secoes de filme */
.secao .container {
  margin-left: 30px;
  margin-right: 50px;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.titulo-secao {
  margin-top: 10px;
  margin-bottom: 10px;
}

.titulo {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 30px;
}

/* trailer */

.filme-trailer .container {
  margin-left: 30px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.trailer-descricao .titulo-logo {
  /* height: 100px;
  margin-bottom: 15px;
  margin-top: 3%; */
  height: 200px;
  margin-left: 15px;
  margin-bottom: 15px;
}

/* .trailer-descricao .titulo {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 30px;
} */

.trailer-descricao .descricao {
  font-size: 25px;
  max-width: 70%;
}

.trailer-descricao {
  margin-left: 50px;
}

.filme-trailer iframe {
  /* width: 560px;
  height: 315px; */
  width: 960px;
  height: 615px;
}

/* footer */

footer .container {
  margin-left: 30px;
  margin-right: 50px;
}

footer a {
  font-family: Helvetica, sans-serif;
  color: var(--cinza);
  margin-right: 10px;
  font-weight: bold;
}

footer .fab {
  font-size: 30px;
}

footer ul {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

footer li {
  list-style: none;
  margin-bottom: 15px;
  font-size: 11px;
  margin-right: 40px;
}

.links {
  display: flex;
  flex-direction: row;
}

.buttoncodigo button {
  padding: 10px;
  background-color: var(--preta);
  color: var(--cinza);
  border: solid 1px;
  cursor: pointer;
  transition: 0.5s ease all;
  margin-bottom: 10px;
}

.corp {
  color: var(--cinza);
  font-size: 11px;
  margin-bottom: 20px;
}
